.headerRed  {
    background-color: rgb(220 54 68) !important;
}
.navbar-dark{
    background-color: rgb(220 54 68) !important;
} .bg-dark{
    background-color: rgb(220 54 68) !important;
}
.navbar{
    background-color: rgb(220 54 68) !important;
}